body{
	background-color: black;
}

h1{
	color: white;
	text-align: center;
	font-family:"Helvetica";
	font-size:100px;
}

img{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width:300px;
}

h2{
	color: white;
	text-align: center;
	font-family:"Helvetica";
	font-size:40px;
}

ul{
	color: white;
	text-align: center;
	font-family:"Helvetica";
	font-size:30px;
}

table {
  
  text-align:center;
      margin-left:auto; 
    margin-right:auto; 
	border-collapse: collapse;
}

td{
	border: 0px;
	width: 100px;
	height: 100px;
}

.empty {
background-image: url(empty.gif);
}

.living {
background-image: url(green.gif);
}

.dead {
background-image: url(dead.gif);
}